@layer components {
    .btn {
        padding: 1rem;
        margin: 1rem;

        border-radius: 10px;
        background-color: oklch(70.5% 0.015 286.067);
    }
    .btn:hover {
        background-color: oklch(45% 0.015 286.067);
        transform: scale(1.1);
    }

    .navbtn {
        background-color: oklch(70.5% 0.015 286.067);
        border-radius: 10px;
        padding: 1rem;
        margin: .5rem;
    }
    .navbtn:hover {
        background-color: oklch(45% 0.015 286.067);
        transform: scale(1.1);
    }
}